html{
  height:100vh;
}
body{
  height: 100vh;
}
/*              */
/* main start   */
/*              */
main{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}
#main-container{
  background-color: #9fa9ba;
  flex: 1;
}
main #main-container #video-container{
  width: 80%;
  min-height: calc(100vh - 118px);
  background-color: #9fa9ba;
  margin: 0 auto;
}
main #main-container #video-container #video-wrapper{
  min-height: calc(100vh - 118px - 100px);
  padding: 12px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
main #main-container #video-container #video-wrapper #video-wrapper_dummy{
  position: relative;
  width: 100%;
  height: 100%;
}
main #main-container #video-container #video-wrapper .big_view{
  position: absolute;
  width: 100%;
  z-index: 1;
  max-width: 800px;
}
main #main-container #video-container #video-wrapper .small_view{
  position: absolute;
  width: 20%;
  z-index: 2;
}

#input_container{
  display: flex;
  align-items:center;
  justify-content: flex-end;
  padding: 12px;
  max-width: 800px;
}
.fa-phone{
  color: #fff;
  font-size: 30px;
}

#input_container .icon-container{
  width: 58px;
  height: 58px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: chartreuse;
}


#their-id{
  width: 272px;
  height: 42px;
  border-radius: 24px;
  outline: none;
}
#chat-container{
  width: 420px;
  height: calc(100vh - 116px);
  background-color: #e0e1e2;
}

/*              */
/* main   end   */
/*              */


/*              */
/* header start */
/*              */

header{
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-image: url("../img/green_00096.jpeg"); */
  background-color: #3a546b;
  color: #fefefe;
}
header #title_container #title{
  font-size: 24px;
}
header #control_container{
  display: flex;
}
header #control_container .icon-container i{
  font-size: 30px;
}
header #control_container .icon-container{
  width: 58px;
  height: 58px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-radius: 50%;
}
/*              */
/* header end   */
/*              */

footer{
  width: 100%;
  height: 36px;
  text-align: center;
}

/* //レスポンシブ */
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  .smartphone{
    display: block !important;
  }
  header{
    height: auto;
    flex-flow: column;
    }
  header .my-number{
    order:1;
  }
  header #control_container {
    justify-content: center;
    order: 2;
  }
  #title{
    display: none;
  }
  main #main-container #video-container{
    width: 100%;
  }
  main #main-container #video-container #video-wrapper{
    padding: 0;
  }

}