html{
  height:100vh;
}
body{
  height: 100vh;
}
/*              */
/* main start   */
/*              */
main{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}
#main-container{
  background-color: #e0e1e2;
  flex: 1;
  
}
main #main-container #video-container{
  width: 80%;
  height: calc(100vh - 92px);
  background-color: #9fa9ba;
}
main #main-container #video-container #video-wrapper{
  padding: 12px;
  width: 100%;
}
main #main-container #video-container #video-wrapper .big_view{
  width: 100%;
}
main #main-container #video-container #video-wrapper .small_view{
  width: 20%;
}
#chat-container{
  width: 420px;
  height: calc(100vh - 92px);
  background-color: #e0e1e2;
}

/*              */
/* main   end   */
/*              */


/*              */
/* header start */
/*              */

header{
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-image: url("../img/green_00096.jpeg"); */
  background-color: #3a546b;
  color: #fefefe;
}
header #title_container #title{
  font-size: 24px;
}
header #control_container{
  display: flex;
}
header #control_container .icon-container i{
  font-size: 30px;
}
header #control_container .icon-container{
  width: 58px;
  height: 58px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-radius: 50%;
}
/*              */
/* header end   */
/*              */